## DataFrame and Series

In [1]:
import pandas as pd

In [ ]:
path='C:\\Users\\Admin\\Dropbox\\PC\Desktop\\Python for Excel\\python-for-excel-1st-edition\\python-for-excel-1st-edition\\xl\\course_participants.xlsx'
pd.read_excel(path)

In [ ]:
data=[["Mark", 55, "Italy", 4.5, "Europe"],
        ["John", 33, "USA", 6.7, "America"],
        ["Tim", 41, "USA", 3.9, "America"],
        ["Jenny", 12, "Germany", 9.0,"Europe"],
       ["Smith", 20, "England", 8.5,"Europe"]
     ]
# Khai báo dataFrame thủ công: dữ liệu, index, column,

df=pd.DataFrame(data=data,
               columns=['name','age','country','score','continent'],
               index=[1001,1000,1002,1003,1004]
                           
              )
df

In [ ]:
df.info()

## Index

In [ ]:
#Làm viêc ở cột index và đặt tên cho cột index
df.index
df.index.name='user_ID'
df

In [ ]:
# Chuyển vị trí cột index vào khu vực columns bình thường
# đẩy vị trí columns 'name' thế cột index--> giá trị index không thay đổi --> chỉ thay đổi vị trí địa lý
df.reset_index().set_index('name')

In [ ]:
#Tạo lại Index đưa colums 'name'về lại dataframe,
#Trả lại vị trí cột index
#--> nếu thêm index 1 row mới thì toàn bộ row fill NaN
#--> giá trị  list index mới  phần tử cũ thì sẽ load phần tử cũ
#--> nếu ko có phần tử cũ sẽ bị loại bỏ
df.reindex([1003,1001,1002,1000,1004])

In [ ]:
df

In [ ]:
#Ưu tiên sort theo tham số đứng sau : 'age'
df.sort_values(['score','age'])

## COLUMNS

In [ ]:
df.index
df

In [60]:
df.columns

Index(['name', 'age', 'country', 'score', 'continent'], dtype='object')

In [ ]:
df.columns.name='properties'
df

In [ ]:
# Đổi tên Columns bằng cách truyền  dic vào tham số thuộc tính columns của DF
df.rename(columns={'name':'Name','age':'Age','country':'Country','score':'Score','continent':'Continent'})

In [ ]:
#Xóa columns và xóa row theo index
df.drop(columns=['name','age'],
        index=[1000, 1003])

In [ ]:
#  Đổi hàng thành cột - cột thành hàng
df.T
# cách 2: 
df.transpose()

In [ ]:
df

In [ ]:
df.loc[:,["continent", "country", "name", "age", "score"]]

### DataFrame.loc ( lấy theo cột )--> name

In [ ]:
#df.loc[1001,["continent"]] # Scalar:lấy 1 row theo 1 Columns and Index
#df.loc[:,["continent"]]# Lấy giá trị 1 cloumn (1 chiều) --> series
#df.loc[:, "continent"]# Lấy giá trị 1 cloumn (2 chiều)--> kiểu dataframe
#df.loc[:, ["country", "age"]]# Lấy giá trị 2 cột --> kiểu DataFrame
#df.loc[1002:1004, "name":"country"]# lấy giá trị Dataframe theo khoảng theo Coloumns, [:,cloumns]là lấy toàn bộ indexx
#df.loc[1000, :]#Lấy giá trị 1 row (1 chiều) --> series
#df.loc[[1000], :]#Lấy giá trị 1 row (2 chiều) --> DataFrame
#df.loc[[1003, 1000], :]#Lấy giá trị nhiều row theo index cho tất cả các columns --> DataFrame
#df.loc[1000:1002, :]#Lấy giá trị Dataframe theo khoảng theo row, [:,cloumns]là lấy toàn bộ indexx

In [ ]:
#Lấy giá trị toàn bộ cột : 2 cách
df['age']# cách 1
df.loc[:,['age']]# cách 2

## DataFrame. iloc (lấy vị trí)--> giá index

In [ ]:
df

In [ ]:
#Single value Scalar 
#df.iloc[1, 2]
#One column (1d) Series 
df.iloc[:,2]
#One column (2d) DataFrame 
#df.iloc[1:,[2]]
#Multiple columns DataFrame 
#df.iloc[:,[1,3,4]]
#Range of columns DataFrame 
#df.iloc[:,:3]
#One row (1d) Series 
#df.iloc[1,:]
#One row (2d) DataFrame 
#df.iloc[[1],:]
#Multiple rows DataFrame 
#df.iloc[[1,3],[0,1]]
#Range of rows DataFrame
#df.iloc[0:5,:]

## Selecting by boolean indexing

In [ ]:
# Tìm row giá trị trong 2 cột thỏa mãn điều kiện--> trả giá trị True/False ứng vớ index
tf=(df['age']<40)&(df['continent']=='Europe')
tf

In [ ]:
# Lấy row có gí trị True
df.loc[tf,:]

In [ ]:
# lấy các row có index không phải bằng 1 giá trị cụ thể
df.loc[df.index != 1001, :]

In [ ]:
#Lấy trong columns cho các giá trị nếu nằm trong columns thì lấy hết toàn bộ row có chứ nó
df.loc[df["country"].isin(["USA", "Germany"]), :]

## DataFrame với Boolean

In [ ]:
cities=pd.DataFrame(data={'city1':[100,350,400,450],
                          'city 2':[210,410,320,150],
                          'city 3':[405,240,100,350]})
cities

In [ ]:
#So sánh DF với 1 điều kiện
#Trả giá trị True mỗi phần tử thỏa điền kiện/ False nếu không thỏa mãn
cities <350

In [ ]:
# Điền giá trị NaN vào vị trí True 
cities[cities<350]

## Chọn dữ liệu với  MultiIndex

### A MultiIndex needs to be sorted

In [ ]:
# Đặt lại Index df_multi là columns continent và country
df_multi=df.reset_index().set_index(['continent','country'])

df_multi

In [ ]:
# sort theo index gián trị tăng dần theo index_name continent
df_multi=df_multi.sort_index()
df_multi

In [ ]:
 # Lấy giá trị multiIndex với Index_name 'continent'

df_multi.loc[['America'],:]